In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('E:/github/cars/cars_clus.csv')
df

,manufact,model,sales,resale,type,price,engine_s,horsepow,wheelbas,width,length,curb_wgt,fuel_cap,mpg,lnsales,partition
0,Acura,Integra,16.919,16.360,0,21.50,1.8,140,101.2,67.3,172.4,2.639,13.2,28.0,2.828,0
1,Acura,TL,39.384,19.875,0,28.40,3.2,225,108.1,70.3,192.9,3.517,17.2,25.0,3.673,0
2,Acura,RL,8.588,29.725,0,42.00,3.5,210,114.6,71.4,196.6,3.850,18.0,22.0,2.150,0
3,Audi,A4,20.397,22.255,0,23.99,1.8,150,102.6,68.2,178.0,2.998,16.4,27.0,3.015,0
4,Audi,A6,18.780,23.555,0,33.95,2.8,200,108.7,76.1,192.0,3.561,18.5,22.0,2.933,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,Volkswagen,Golf,9.761,11.425,0,14.90,2.0,115,98.9,68.3,163.3,2.767,14.5,26.0,2.278,0
113,Volkswagen,Jetta,83.721,13.240,0,16.70,2.0,115,98.9,68.3,172.3,2.853,14.5,26.0,4.427,0
114,Volkswagen,Passat,51.102,16.725,0,21.20,1.8,150,106.4,68.5,184.1,3.043,16.4,27.0,3.934,0
115,Volkswagen,Cabrio,9.569,16.575,0,19.99,2.0,115,97.4,66.7,160.4,3.079,13.7,26.0,2.259,0
116,Volkswagen,GTI,5.596,13.760,0,17.50,2.0,115,98.9,68.3,163.3,2.762,14.6,26.0,1.722,0

In [3]:
df['model'].value_counts()

Neon             2
Grand Marquis    1
Cutlass          1
Pathfinder       1
Quest            1
                ..
Dakota           1
Ram Van          1
Ram Wagon        1
Ram Pickup       1
GTI              1
Name: model, Length: 116, dtype: int64

In [4]:
df['manufact'].value_counts()

Ford             10
Dodge             9
Chevrolet         8
Toyota            8
Mitsubishi        7
Mercury           6
Chrysler          5
Honda             5
Pontiac           5
Nissan            5
Volkswagen        5
Mercedes-Benz     4
Oldsmobile        4
Buick             4
Saturn            3
Porsche           3
Plymouth          3
Acura             3
Audi              3
Jeep              3
Hyundai           3
Cadillac          3
Lexus             3
Lincoln           2
BMW               2
Infiniti          1
Name: manufact, dtype: int64

In [5]:
X=df.drop(columns = ['price', 'type', 'partition','manufact','model'], axis=1)
y=df[['price']]

In [6]:
X

,sales,resale,engine_s,horsepow,wheelbas,width,length,curb_wgt,fuel_cap,mpg,lnsales
0,16.919,16.360,1.8,140,101.2,67.3,172.4,2.639,13.2,28.0,2.828
1,39.384,19.875,3.2,225,108.1,70.3,192.9,3.517,17.2,25.0,3.673
2,8.588,29.725,3.5,210,114.6,71.4,196.6,3.850,18.0,22.0,2.150
3,20.397,22.255,1.8,150,102.6,68.2,178.0,2.998,16.4,27.0,3.015
4,18.780,23.555,2.8,200,108.7,76.1,192.0,3.561,18.5,22.0,2.933
...,...,...,...,...,...,...,...,...,...,...,...
112,9.761,11.425,2.0,115,98.9,68.3,163.3,2.767,14.5,26.0,2.278
113,83.721,13.240,2.0,115,98.9,68.3,172.3,2.853,14.5,26.0,4.427
114,51.102,16.725,1.8,150,106.4,68.5,184.1,3.043,16.4,27.0,3.934
115,9.569,16.575,2.0,115,97.4,66.7,160.4,3.079,13.7,26.0,2.259
116,5.596,13.760,2.0,115,98.9,68.3,163.3,2.762,14.6,26.0,1.722

In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, classification_report
import matplotlib.pyplot as plt
from sklearn import tree

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
# Create a Linear Regression model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

In [10]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Calculate regression metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Mean Absolute Error (MAE): {mae:.2f}")
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"R-squared (R2) Score: {r2:.2f}")

Mean Absolute Error (MAE): 2.10
Mean Squared Error (MSE): 6.76
Root Mean Squared Error (RMSE): 2.60
R-squared (R2) Score: 0.90